<% content_for :title, "Authors" %>

<div class="container">
  <% if notice.present? %>
    <div class="notice"><%= notice %></div>
  <% end %>

  <h1>Authors</h1>

  <%= link_to "New author", new_author_path, class: "new-author-button" %>

  <div class="author-grid">
    <% @authors.each do |author| %>
      <div class="author-card">
        <h2><%= author.name %></h2>
        <div class="author-actions">
          <%= link_to "View Details", author, class: "author-link" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
